<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="student" method="post">
		<div>Ho va ten</div>
		<input name="name" />
		<div>Diem trung binh</div>
		<input name="mark" />
		<div>Chuyen nganh</div>
		<lable> <input name="major" type="radio" value="App" /> Ung
		dung phan mem </lable>
		<lable> <input name="major" type="radio" value="Web" /> Thiet
		ke trang Web </lable>
		<hr />
		<button>Luu</button>
	</form>
</body>
</html>