<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="students" method="post">
		Name: <input type="text" name="name" /><br />
		GPA: <input type="text" name="gpa" /> <br />
		Major:
		<select name="major">
			<option value="web">Web Design</option>
			<option value="java">Java Programing</option>
			<option value="graphics">Graphics</option>
			<option value="net">.Net Programing</option>
		</select>
		<br />
		<input type="submit" value="Registry" />
		<input type="submit" value="List Students" />
	</form>
</body>
</html>